<div id="developers" ng-controller="adminCtrl" ng-init="getdata()">
	<div ng-model="hello">
		{{hello}}
	</div>
			<div>
			<h4>The Ticket List: </h4>
			<ul ng-repeat= "x in tickets">
				<li> {{x.title}} 

					<select>
                          <option ng-repeat="user in roleUser" value="{{user}}">{{user}}</option>
        			</select>
        			<button ng-click="assign($index)">Assign</button>
				</li>

			</ul>

			<!-- <ul ng-repeat= "user in roleUser">
				<li> {{user}} <button ng-click="assign($index)">Assign</button>
				</li>
			</ul> -->
			
		</div>

		<!-- <div>
			<h4>The Developer list</h4> -->
			  <!--select name="role" ng-model="selectbox" >
                <option ng-value="{{x.id}}" ng-repeat="x in developers">{{x.name}}
                </option>
                
              </select-->
              <!-- <ul ng-repeat= "x in developers">
				<li> {{x.name}} 
				</li>
			</ul> 

		</div> -->
</div>



