<div id="developers" ng-controller="adminCtrl" ng-init="getdata()">
	<div ng-model="hello">
		{{hello}}
	</div>
			<div>
			<h4>The Ticket List: </h4>
			<ul ng-repeat= "x in tickets" value="{{x.id}}">
				<li> {{x.title}} 

					<select ng-model="developerId">
                          <option ng-repeat="user in roleUser" value="{{user.id}}">{{user.name}}</option>
        			</select>
        			<button ng-click="assign(developerId , x.id )">Assign</button>
        			<button ng-click="deleteTicket( x.id )">Delete ticket!</button>
				</li>

			</ul>

			
			
		</div>

		
</div>



